<div class="produto-container">
  <h2>Cadastro de Produtos</h2>

  <div class="formulario">
    <div class="campo-form">
      <label for="nome">Nome:</label>
      <input id="nome" type="text" pInputText [(ngModel)]="produto.nome" placeholder="Digite o nome do produto" />
    </div>

    <div class="campo-form">
      <label>Ativo:</label>
      <p-checkbox [(ngModel)]="produto.ativo" [binary]="true" inputId="ativo"></p-checkbox>
    </div>

    <div class="botoes">
      <button pButton label="Salvar" (click)="salvar()" class="p-button-success"></button>
      <button *ngIf="editando" pButton label="Cancelar" (click)="resetarFormulario()" class="p-button-secondary"></button>
    </div>
  </div>

  <p-table [value]="produtos" class="tabela-produtos" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Ativo</th>
        <th style="width: 120px">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-p>
      <tr>
        <td>{{ p.nome }}</td>
        <td>
          <span class="badge" [ngClass]="{ 'ativo': p.ativo, 'inativo': !p.ativo }">
            {{ p.ativo ? 'Sim' : 'Não' }}
          </span>
        </td>
        <td>
          <button pButton icon="pi pi-pencil" (click)="editar(p)" class="p-button-rounded p-button-info p-mr-2"></button>
          <button pButton icon="pi pi-trash" (click)="excluir(p.id)" class="p-button-rounded p-button-danger"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
